.git
.github
.idea
.vscode
.DS_Store

**/node_modules
**/dist
**/build
**/coverage
extension/.output

.yarn/cache
.yarn/install-state.gz

server/.env
server/data
**/*.log

docs
plugins
scripts/loc/node_modules
